<div class="container mt-4">
<!--ゲストユーザーログイン時-->
<% if @user.email == 'guest@test.com' %>
<%= form_with model: @user, local: true, html: { class: "mt-4" } do |f| %>
    <h3>プロフィールを編集</h3>
    
    <h6>※ゲストユーザーはプロフィール編集できません。登録してログインしていただくと、プロフィールの更新・退会が可能になります。</h6>

    <div class="form-group">
      <%= f.label :profile_image, "プロフィール画像" %><br>
      <%= f.file_field :profile_image %>
    </div>

    <!-- ヘッダー画像 -->
    <!-- <div class="form-group">
      <%= f.label :header_image, "ヘッダー画像" %>
      <%= f.file_field :header_image, class: "form-control" %>
    </div> -->

    <div class="form-group">
      <%= f.label :name, "ユーザーネーム" %>
      <%= f.text_field :name, class: "form-control", placeholder: "ユーザーネーム" %>
    </div>

    <div class="form-group">
      <%= f.label :bio, "自己紹介" %>
      <%= f.text_area :bio, class: "form-control", placeholder: "自己紹介" %>
    </div>

    <div class="form-group">
      <%= f.label :location, "場所" %>
      <%= f.text_field :location, class: "form-control", placeholder: "場所" %>
    </div>

    <div class="form-group">
      <%= f.label :birth_date, "生年月日" %><br>
      <%= f.date_select :birth_date, { use_month_numbers: true, start_year: 1900, end_year: (Time.now.year - 5), default: Date.new(2000, 1, 1) } %>
    </div>

    <div class="form-group">
      <%= link_to "マイページへ戻る", user_path(current_user), class: "btn btn-primary" %>
    </div>

  <% end %>
  
<% else %>
<!--登録ユーザーログイン時-->  
  <%= form_with model: @user, local: true, html: { class: "mt-4" } do |f| %>
    <h3>プロフィールを編集</h3>

    <div class="form-group">
      <%= f.label :profile_image, "プロフィール画像" %><br>
      <%= f.file_field :profile_image %>
    </div>

    <!-- ヘッダー画像 -->
    <!-- <div class="form-group">
      <%= f.label :header_image, "ヘッダー画像" %>
      <%= f.file_field :header_image, class: "form-control" %>
    </div> -->

    <div class="form-group">
      <%= f.label :name, "ユーザーネーム" %>
      <%= f.text_field :name, class: "form-control", placeholder: "ユーザーネーム" %>
    </div>

    <div class="form-group">
      <%= f.label :bio, "自己紹介" %>
      <%= f.text_area :bio, class: "form-control", placeholder: "自己紹介" %>
    </div>

    <div class="form-group">
      <%= f.label :location, "場所" %>
      <%= f.text_field :location, class: "form-control", placeholder: "場所" %>
    </div>

    <div class="form-group">
      <%= f.label :birth_date, "生年月日" %><br>
      <%= f.date_select :birth_date, { use_month_numbers: true, start_year: 1900, end_year: (Time.now.year - 5), default: Date.new(2000, 1, 1) } %>
    </div>

    <div class="form-group">
      <%= f.submit "保存", class: "btn btn-primary" %>
    </div>
    
    <div class="form-group">
      <%= link_to "マイページへ戻る", user_path(current_user), class: "btn btn-primary" %>
    </div>

    <div class="form-group">
      <%= link_to "退会する", users_check_path, class: "btn btn-danger" %>
    </div>
  <% end %>
  
<% end %>  
</div>
