<header>
    <nav>
        <div class="logo"></div>
        
        <div class="menu">
            <ul>
                <% if user_signed_in? %>
                <li>
                    <%= link_to posts_path do %>
                        投稿一覧
                    <% end %>
                </li>
                <li>
                    <%= link_to user_path(current_user.id) do %>
                        マイページ
                    <% end %>
                </li>
                <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                        ログアウト
                    <% end %>
                </li>
                
                <% elsif admin_signed_in? %>
                <li>投稿一覧</li>
                <li>ユーザー一覧</li>
                <li>
                    <%= link_to destroy_admin_session_path, method: :delete do%>
                        ログアウト
                    <% end %>
                </li>
                
                <% else %>
                <li>
                    <%= link_to new_user_registration_path do %>
                        新規登録
                    <% end %>
                </li>
                <li>
                    <%= link_to new_user_session_path do %>
                        ログイン
                    <% end %>
                </li>
                
                <% end %>
                
                <!--部分テンプレートになるところ-->
                <!--新規投稿画面-->
                <%= form_with model: @new_post do |f| %>
                    <h5>画像</h5>
                    <%= f.file_field :images, accept: "image/*" %>
                    <h5>投稿文</h5>
                    <%= f.text_area :text %>
                    
                    <%= f.submit '投稿' %>
                <% end %>
                
            </ul>
        </div>
    </nav>
</header>